# Editor configuration / Temporary files.
.idea
*~
# Build outputs.
build
.terraform
.terraform-lint
terraform.tfstate
**/.terraform
**/.terraform-lint
**/terraform.tfstate
**/terraform.tfstate.backup
