[Unit]
Description=Rake Sandbox Timer

[Timer]
OnCalendar=*-*-* 03:15:00 America/Toronto
RandomizedDelaySec=30min
Persistent=true
Unit=rake.service

[Install]
WantedBy=timers.target
