[Unit]
Description=Rake Sandbox
After=cloud-compose.service docker.service
Wants=cloud-compose.service

[Service]
Type=oneshot
User=cloud-compose
Group=cloud-compose
Environment=HOME=/home/cloud-compose
Environment=TERM=xterm
WorkingDirectory=/home/cloud-compose
ExecStart=/bin/bash /home/cloud-compose/rake.sh
